# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/jarRepositories.xml
/encodings.xml
/misc.xml
/compiler.xml
/vcs.xml
/discord.xml
/.idea/
